<?xml version="1.0" encoding="UTF-8"?>
    <phpunit bootstrap="./TestHelper.php"
        backupGlobals="false"
        colors="false"
        processIsolation="false"
        stopOnFailure="false"
    >
    <testsuite name="UserPlugin - Testsuite">
        <directory>./</directory>
    </testsuite>
</phpunit>